<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Include the Bootstrap partial -->
  <% include partials/bootstrap.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="bg-light">
  <div class="container text-center">
    <% include partials/header.ejs %>
    <h2 class="text-center mt-5"><%= title %></h2>
    <div class="row">
      <% if (genres && genres.length > 0) { %>
        <% genres.forEach(genre => { %>
          <div class="col-md-2">
            <div>
              <div>
                <button class="btn btn-secondary m-2" onclick="redirectToPodcastPage('<%= genre.name %>', '<%= genre.id %>')"><%= genre.name %></button>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
  <script>
    function redirectToPodcastPage(genreName, genreId) {
    window.location.href = '/users/podcast/' + encodeURIComponent(genreName) + '/' + encodeURIComponent(genreId);
      }
    </script>
</body>
</html>