<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Include the Bootstrap partial -->
  <% include partials/bootstrap.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="container">
    <% include partials/header.ejs %>
    <h1><%= title %></h1>
    <div class="row">
      <% if (genres && genres.length > 0) { %>
        <% genres.forEach(genre => { %>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <button onclick="redirectToPodcastPage('<%= genre.name %>', '<%= genre.id %>')"><%= genre.name %></button>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
  <script>
    function redirectToPodcastPage(genreName, genreId) {
    window.location.href = 'podcast/' + encodeURIComponent(genreName) + '/' + encodeURIComponent(genreId);
      }
    </script>
</body>
</html>