<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Include the Bootstrap partial -->
  <% include partials/bootstrap.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="bg-light">
  <div class="container m-3">
    <% include partials/header.ejs %>
    <h1 class="'text-center mt-4"><%= title %></h1>
    <div class="row justify-content-center">
      <% if (podcasts) { %>
        <% podcasts.forEach(podcast => { %>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><%= podcast.title_original %></h5>
                <img src="<%= podcast.image %>" class="img-fluid">
                <audio controls>
                  <source src=<%= podcast.audio %> />
                </audio>
                <button class="btn btn-danger" onclick=favorites.create()>Add to Favorites</button>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</body>
</html>