<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Include the Bootstrap partial -->
  <% include partials/bootstrap.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="bg-light">
  <div class="container m-3">
    <% include partials/header.ejs %>
    <h1 class="'text-center mt-4"><%= title %></h1>
    <div class="row justify-content-center">
      <% if (podcasts) { %>
        <% podcasts.forEach(podcast => { %>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><%= podcast.title_original %></h5>
                <img src="<%= podcast.image %>" class="img-fluid">
                <audio controls>
                  <source src=<%= podcast.audio %> />
                </audio>
                <!-- Add the "Add to Favorites" button with an onclick event -->
                <button class="btn btn-danger" onclick="addToFavorites('<%= podcast.id %>', '<%= podcast.title_original %>', '<%= podcast.image %>', '<%= podcast.audio %>')">Add to Favorites</button>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
  <!-- Include a JavaScript script -->
  <script>
    function addToFavorites(podcastId, podcasttitle, podcastimage, podcastaudio) {
      // Make an HTTP POST request to add the podcast to favorites
      console.log("view", podcastId, podcasttitle, podcastimage, podcastaudio)
      fetch('/users/test', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          user_id: 4, // Render the actual user ID
          podcast_id: podcastId, // Pass the podcast ID from the function parameter
          podcast_title: podcasttitle,
          podcast_image: podcastimage,
          podcast_audio: podcastaudio
        }),
      })
      .then(response => response.json())
      .then(data => {
        // Handle the response from the server if needed
        console.log(data);
      })
      .catch(error => {
        // Handle any errors that occurred during the fetch request
        console.error('Error adding podcast to favorites:', error);
      });
    }
  </script>
</body>
</html>
