<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Include the Bootstrap partial -->
  <% include partials/bootstrap.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="bg-light">
  <div class="container m-3">
    <% include partials/header.ejs %>
    <h1 class="'text-center mt-4"><%= title %></h1>
    <div class="row justify-content-center">
      <% if (podcasts) { %>
        <% podcasts.forEach(podcast => { %>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><%= podcast.title_original %></h5>
                <img src="<%= podcast.image %>" class="img-fluid">
                <audio controls>
                  <source src=<%= podcast.audio %> />
                </audio>
                <!-- Add the "Add to Favorites" button with an onclick event -->
                <button class="btn btn-danger" onclick="addToFavorites('<%= user_id %>', '<%= podcast.id %>', '<%= podcast.title_original %>', '<%= podcast.image %>', '<%= podcast.audio %>')">Add to Favorites</button>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
  <script>
    function addToFavorites(user_id, podcastId, podcasttitle, podcastimage, podcastaudio) {
      if (user_id) {
      fetch('/users/test', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          user_id: user_id, 
          podcast_id: podcastId, 
          podcast_title: podcasttitle,
          podcast_image: podcastimage,
          podcast_audio: podcastaudio
        }),
      })
      .then(response => response.json())
      .then(data => {
      })
      .catch(error => {
        console.error('Error adding podcast to favorites:', error);
      });
    // } else {
    //   // window.location.href = "http://localhost:3000/users/login" 
      
    // } {
    //   .finally()
     }
    }
  </script>
</body>
</html>
